<footer class="c-site-footer">

  <div class="wrapper">
    <div class="c-center-wrapper" >
      <div class="c-icon-contact">
        <a href="contact" target="_blank">
          <span class="c-link-spanner"></span>
        </a>
      </div>
      <div class="c-icon-twitter">
        <a href="https://twitter.com/Buggy_Virus" target="_blank">
          <span class="c-link-spanner"></span>
        </a>
      </div>
      <div class="c-icon-github">
        <a href="https://github.com/Buggy-Virus" target="_blank">
          <span class="c-link-spanner"></span>
        </a>
      </div>
      <div class="c-icon-linkedin">
        <a href="https://www.linkedin.com/in/oliver-hare/" target="_blank">
          <span class="c-link-spanner"></span>
        </a>
      </div>
    </div>


  </div>

</footer>