---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  
  <div class="c-contact-icon-wrapper">
    <div class="c-contact-icon">
      <div class="c-contact-icon-email">
        <a href="/email" target="_blank">
          <span class="c-link-spanner"></span>
        </a>   
      </div>
      <p class="c-contact-info">Email</p>
      <p class="c-contact-info">
        <a href="/email" target="_blank">oliver.parsons.hare@gmail.com</a>
      </p>
    </div>
    <div class="c-contact-icon">
      <div class="c-contact-icon-twitter">
        <a href="https://twitter.com/Buggy_Virus" target="_blank">
          <span class="c-link-spanner"></span>
        </a>
      </div>
      <p class="c-contact-info">Twitter</p>
      <p class="c-contact-info">
        <a href="https://twitter.com/Buggy_Virus" target="_blank">Buggy_Virus</a>
      </p>
    </div>
    <div class="c-contact-icon">
      <div class="c-contact-icon-github">
        <a href="https://github.com/Buggy-Virus" target="_blank">
          <span class="c-link-spanner"></span>
        </a>
      </div>
      <p class="c-contact-info">Github</p>
      <p class="c-contact-info">
        <a href="https://github.com/Buggy-Virus" target="_blank">Buggy-Virus</a>
      </p>
    </div>
    <div class="c-contact-icon">
      <div class="c-contact-icon-linkedin">
        <a href="https://www.linkedin.com/in/oliver-hare/" target="_blank">
          <span class="c-link-spanner"></span>
        </a>
      </div>
      <p class="c-contact-info">Linkedin</p>
      <p class="c-contact-info">
        <a href="https://www.linkedin.com/in/oliver-hare/" target="_blank">Oliver-Hare</a>
      </p>
    </div>
  </div>

  <div class="c-preload">
    <img src="/assets/mail-contact-icon.png">
    <img src="/assets/twitter-contact-icon.png">
    <img src="/assets/github-contact-icon.png">
    <img src="/assets/linkedin-contact-icon.png">
  </div>
</article>