---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  {% assign project_paths = site.project_pages | default: default_paths %}
  {% for path in project_paths %}
    {% assign my_project = site.pages | where: "path", path | first%}
    <div class="c-project">
      <a class="c-project-link" href="{{ my_project.pseudo-path }}">
        <div class="c-project-title-box">
          <h2 class="c-project-title">{{ my_project.title }}</h2>
        </div>
      </a>
      <a href="{{ my_project.pseudo-path }}">
        <img src="{{ my_project.menu-img }}" alt="{{ my_project.menu-img-alt }}" style="width:355px;height:150px;">
      </a>
      <div class="c-project-bar">
        <p class="c-project-date">{{ my_project.given-date }}</p>
        {% if my_project.project-page %}
        <a href="{{ my_project.project-page }}" target="_blank">
          <div class="c-project-page-icon"></div>
        </a>
        {% elsif true %}
          <div class="c-project-no-page-icon"></div>
        {% endif %}
        {% if my_project.project-github %}
          <a href="{{ my_project.project-github }}" target="_blank">
            <div class="c-project-github-icon"></div>
          </a>
        {% elsif true %}
          <div class="c-project-no-github-icon"></div>
        {% endif %}
      </div>
    </div>
  {% endfor %}

  <div class="c-preload">
    <img src="/assets/light-page-icon-24.png">
    <img src="/assets/light-github-icon-24.png">
    <img src="/assets/light-lock-icon-24.png">
  </div>

</article>