---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="c-project">
    <a class="c-project-link" href="/projects/debate/">
    	<div class="c-project-title-box">
    	  <h2 class="c-project-title">Brown Debate Website</h2>
    	</div>
    </a>
  	<a href="/projects/debate/">
  	  <img src="/assets/proj-debate.png" alt="students.brown.edu/debate" style="width:355px;height:150px;">
  	</a>
  	<div class="c-project-bar">
      <p class="c-project-date">Apr, 2016</p>
      <a href="http://students.brown.edu/Debate/" target="_blank">
        <div class="c-project-page-icon"></div>
      </a>
      <div class="c-project-no-github-icon"></div>
  	</div>
  </div>

  <div class="c-project">
    <a class="c-project-link" href="/projects/website/">
    	<div class="c-project-title-box">
    	  <h2 class="c-project-title">This Website</h2>
    	</div>
    </a>
  	<a href="/projects/website/">
  	  <img src="/assets/proj-website.png" alt="oliverhare.us" style="width:355px;height:150px;">
  	</a>
  	<div class="c-project-bar">
      <p class="c-project-date">Aug, 2017</p>
      <a href="/" target="_blank">
        <div class="c-project-page-icon"></div>
      </a>
      <a href="https://github.com/Buggy-Virus/buggy-virus.github.io" target="_blank">
        <div class="c-project-github-icon"></div>
      </a>
  	</div>
  </div>

</article>